<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>AgroTech Precision</title>
</head>
<body>
    <div class="wrapper">
        <nav class="sidebar">
            <div class="sidebar-header">
                <h2>AgroTech</h2>
                <p>Precision System</p>
            </div>
            
            <ul class="nav-links">
				
                <li class="{{ 'active' if request.endpoint == 'dashboard' }}">
                    <a href="{{ url_for('dashboard') }}">🏠 Painel Geral</a>
                </li>
                
                <li class="{{ 'active' if request.endpoint == 'talhao' }}">
                    <a href="{{ url_for('talhao') }}">🚜 Meus Talhões</a>
                </li>
                
                <li class="{{ 'active' if request.endpoint == 'safra' }}">
					<a href="{{ url_for('safra') }}">🌱 Safra/Plantio</a>
					</li>
					
                <li class="{{ 'active' if request.endpoint == 'insumo' }}">
                    <a href="{{ url_for('insumo') }}">📦 Insumos</a> 
                    </li>
              
                <li class="{{ 'active' if request.endpoint == 'historico' }}">
                    <a href="{{ url_for('historico') }}">📅 Histórico</a> 
                    </li>
            </ul>

            <div class="sidebar-footer">
                <a href="{{ url_for('login') }}" class="btn-logout">🚪 Sair</a>
            </div>
        </nav>

        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
